.c-btn {
	display: inline-block;
	background: grey;
	color: white;
	padding: 10px;
	border-radius: 3px;
	transition: all 0.2s;

	&:focus,
	&:hover {
		background: lighten(grey, 15%);
	}

	&--primary {
		background: green;
		&:focus,
		&:hover {
			background: lighten(green, 15%);
		}
	}
}
