---
---

@import "trac";

// Default var from Bootstrap Sass
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

// Custom var
$sg-aside-width: 250px;
$sg-aside-header-mobile: 85px;
$sg-grey-border: #eaeaea;
$sg-grey-background: #f5f5f5;
$sg-black-title: #888;
$sg-black-text: #0c0c0d;
$sg-blue: #3ab4ff;
$sg-color-primary: $sg-blue;

// Global
body,
html {
	height: 100%;
	font-size: 16px;
}

a {
	transition: color 0.2s;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// Header
.sg-logo {
	height: 30px;
	display: block;
	margin: 0 auto 10px;
}
.sg-sublogo {
	font-size: 0.625rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: $sg-black-title;
	text-align: center;
}

// Aside
.sg-aside {
	border-right: 1px solid $sg-grey-border;
	position: fixed;
	top: 0;
	left: 0;
	width: $sg-aside-width;
	height: 100%;
	background: white;
	overflow: hidden;
	@media (min-width: $screen-sm-min) {
		z-index: 1;
	}
	.sg-aside__overflow {
		height: 100%;
		overflow: auto;
	}
}

.sg-aside__header {
	padding: 40px 0 20px;
	position: relative;
	display: none;
	@media (min-width: $screen-sm-min) {
		display: block;
	}
}

.sg-aside__nav {
	padding: 20px 0;
	margin: 0;
	list-style: none;
}

.sg-separator {
	margin: 30px;
}

.sg-aside__subtitle {
	margin: 0;
	padding: 10px 20px 5px;
	color: $sg-black-title;
	font-size: 0.9rem;
}

.sg-aside__subnav {
	padding: 0;
	list-style: none;
	li {
		a {
			display: block;
			padding: 5px 40px;
			border: none;
			color: $sg-black-text;
			font-size: 1rem;
			&:hover {
				color: darken($sg-black-text, 15%);
			}
		}
		&.active {
			a {
				color: $sg-color-primary;
			}
		}
	}
}

// Main content
.sg-main-content {
	padding: 40px;
	min-height: calc(100vh - #{$sg-aside-header-mobile});
	background: white;
	transform: translateX(0);
	transition: transform 0.4s;
	@media (min-width: $screen-sm-min) {
		padding: 80px 80px 80px calc(#{$sg-aside-width} + 80px);
		min-height: 100vh;
	}
}

// Header mobile
.sg-mobile-header {
	padding: 20px 0;
	border-bottom: 1px solid $sg-grey-border;
	background: white;
	position: relative;
	transform: translateX(0);
	transition: transform 0.4s;
	display: block;
	@media (min-width: $screen-sm-min) {
		display: none;
	}
	.sg-menu-burger {
		width: 40px;
		height: 40px;
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		padding: 20px;
		span {
			display: block;
			height: 2px;
			width: 20px;
			background: $sg-color-primary;
			border-radius: 2px;
			position: absolute;
			left: 10px;
			transition: transform 0.8s, opacity 0.2s;
			&:nth-child(1) {
				top: 21px;
				transform: translateY(-7px);
			}
			&:nth-child(2) {
				top: 21px;
			}
			&:nth-child(3) {
				top: 21px;
				transform: translateY(7px);
			}
		}
		&:hover {
			cursor: pointer;
			span {
				background: darken($sg-color-primary, 15%);
			}
		}
	}
}

// Mobile behavior
.sg-menu-is-open {
	overflow: hidden;
	.sg-menu-burger {
		span {
			&:nth-child(1) {
				transform: translateY(0) rotate(45deg);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(0) rotate(-45deg);
			}
		}
	}
	.sg-mobile-header,
	.sg-main-content {
		transform: translateX(280px);
		overflow: hidden;
	}
}

// Content

.sg-content-header {
	margin-bottom: 50px;
}

.sg-h1 {
	position: relative;
	font-size: 2rem;
	padding-bottom: 15px;
	margin-bottom: 30px;
	&:after {
		content: '';
		height: 4px;
		width: 40px;
		background-color: $sg-color-primary;
		border-radius: 2px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

.sg-h2 {
	font-size: 1.3rem;
	margin-bottom: 20px;
}

.sg-lead {
	font-size: 1.2rem;
}

.sg-ul {
	padding-left: 2rem;
}

.bs-example {
	padding: 1.5rem;
	border: 2px solid $sg-grey-background;
	margin-top: 15px;

	+ .highlight pre {
		border: 0;
		border-radius: 0;
		background-color: $sg-grey-background;
		margin-bottom: 80px;

		code {
			white-space: pre;
		}
	}
}
