.c-card {
	display: block;
	border: 1px solid grey;
	border-radius: 3px;
	max-width: 300px;
	overflow: hidden;

	&__img {
		width: 100%;
	}
	&__content {
		padding: 10px;
	}
	&__title {
		font-size: 1.4rem;
	}
}
